.u-section-1 .u-sheet-1 {
  min-height: 1729px;
}

.u-section-1 .u-shape-1 {
  width: 855px;
  height: 575px;
  background-image: none;
  margin: 67px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 518px;
  min-height: 456px;
  margin: -503px auto 0 36px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 552px;
  object-position: 50% 64.98%;
  margin: -432px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -65px 787px 0 185px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 16px auto 60px 185px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -431px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 687px;
    margin-left: 85px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 113px;
    margin-left: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 552px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1700px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 788px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -471px;
    margin-left: 22px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 523px;
    margin-top: -413px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -54px;
    margin-right: 372px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 520px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -257px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 329px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 140px;
    margin-right: 172px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 4px;
  }
}